<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article>An {{ college }} 's student</article>
	<article>Hobby : {{ hobby }}</article>
	<article>Description : {{ description }}</article>
	<img src="https://lh3.googleusercontent.com/-nX7yiW3_0pA/W45pT1xwpbI/AAAAAAAAAUo/Ru5MqEWGtzMIQ3VVHBsIIL3FaOpzc90_QCJoC/w530-h795-n-rw/4x6.jpg">
</body>
<body>
    <h1>Hello my name is I Made Adisurya Nugraha</h1>
    <article>NPM </article>
    <article>I am 19 years old</article>
	<article>An University of Indonesia 's student</article>
	<article>Hobby : </article>
	<article>Description : </article>
	<img src="https://media.licdn.com/dms/image/C5603AQE2_2gQuasmpw/profile-displayphoto-shrink_200_200/0?e=1539216000&v=beta&t=N5taAG4kPBI32JEwhPf2seboY1LHvxz3GE8eCZZXssE">
</body>
<body>
    <h1>Hello my name is I Kade Hendrick Putra Kurniawan</h1>
    <article>NPM : 1706984612</article>
    <article>I am 19 years old</article>
	<article>An University of Indonesia 's student</article>
	<article>Hobby : Editing </article>
	<article>Description : I am proficient at communicating, building, and maintaining profesional relationships. Have good experience in leaderships, visual design, and cinematography </article>
	<img src="https://ibb.co/exYfnz">
</body>
</html>
